# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
.Rproj

# Ignoring our "log" directory
log/

## Marckdown things
README.html

## RStudio Project file
tiq-test.Rproj

